@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.bg-gradient-main {
  background: linear-gradient(to top, #000000, #ffffff);
}

.bg-gradient-overlay {
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(0,212,255,0) 100%);
}

.radial-gradient-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #38B6FF 0%, rgb(0, 0, 0) 0%);
}
/* index.css */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
  font-family: sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.animated-text span {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.animated-text span:nth-child(1) {
  animation-delay: 0s;
}
.animated-text span:nth-child(2) {
  animation-delay: 0.1s;
}
.animated-text span:nth-child(3) {
  animation-delay: 0.2s;
}
/* Continue this pattern for each letter */

.animated-text {
  font-size: 2.5rem;
  background: linear-gradient(100deg, #000000, #000000);
  -webkit-background-clip: text;
  text-shadow: 
    0 0 5px rgba(255, 255, 255, 0.75), 
    0 0 10px rgba(255, 255, 255, 0.75); 
}

.bg-gradient-main {
  background: linear-gradient(to top, #000000, #ffffff);
}

.bg-gradient-overlay {
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(0,212,255,0) 100%);
}

.radial-gradient-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #38B6FF 0%, rgb(0, 0, 0) 0%);
}

.text-white {
  color: #ffffff;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.rounded {
  border-radius: 0.25rem;
}

.import-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.import-button {
  background: linear-gradient(to bottom, #054475, #19A4E3); 
  color: white;
  padding: 10px 20px;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, background 0.3s;
  margin-top: 10px;
}

.import-button:hover {
  background: linear-gradient(to bottom, #333, #111); 
}

.button-style {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  max-width: 160px; 
  white-space: nowrap; 
  padding: 0.5rem 1rem;
  background-color: #1f1f1f;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.button-style:hover {
  background: linear-gradient(135deg, #000000, #000000);
  transform: translateY(-2px);
}

.button-style img {
  margin-right: 8px;
}

.button-style span {
  font-size: 14px;
  font-weight: bold;
}

/* Адаптивные стили */
@media (min-width: 640px) {
  .flex-col {
    flex-direction: column;
  }

  .flex-grow {
    flex-grow: 1;
  }

  .space-y-2 > :not([hidden]) ~ :not([hidden]) {
    margin-top: 0.5rem;
  }
}

@media (min-width: 768px) {
  .px-4 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .pt-8 {
    padding-top: 2rem;
  }

  .pb-4 {
    padding-bottom: 1rem;
  }

  .fixed {
    position: fixed;
  }

  .top-0 {
    top: 0;
  }

  .left-0 {
    left: 0;
  }

  .w-full {
    width: 100%;
  }

  .z-0 {
    z-index: 0;
  }

  .z-10 {
    z-index: 10;
  }

  .mt-4 {
    margin-top: 1rem;
  }

  .h-1/2 {
    height: 50%;
  }

  .absolute {
    position: absolute;
  }

  .inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .min-h-screen {
    min-height: 100vh;
  }

  .rounded-xl {
    border-radius: 0.75rem;
  }

  .rounded-full {
    border-radius: 9999px;
  }

  .flicker-image {
    animation: flicker 3s infinite;
  }

  @keyframes flicker {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
  }
}
